<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Book Store</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">
    
    <meta property="og:image" content="bg.png">

  </head>
    
  <body>
    <div id="root" >

      <header >
        <div class="logo-container">
          <img src="logo.png" alt="">
        </div>
        <div class="search-bar-container">
          <input placeholder="Search book" type="text" v-model='searchValue' >

        </div>
      </header>
      <div class="main-container">

          <!-- v-if='loade' -->
        <div  v-if='loader' class="loader-container">
          <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
          <div class="flip-card" v-for='book in filteredBooks'>
              <div class="flip-card-inner">
              <div class="flip-card-front">
                  <img :src="book.cover" alt="Avatar" >
              </div>
              <div class="flip-card-back">
                  <h1>{{ book.title }}</h1>
                  <p>{{ book.description }}</p>
                  
                  <!-- <button >More </button> -->
                  <button> <a data-fancybox="gallery" :href="book.detail">MORE</a> </button>
                
              </div>
              </div>
          </div>

          <div v-if='filteredBooks == 0' class="zero-results-box">
              <p>No results matched your search criteria</p>
          </div>
      </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/vue.js"></script>
  </body>
</html>
